
<!-- Menu -->
<div class="super_container">

	<!-- Header -->



	<div class="super_container_inner">
		<div class="super_overlay"></div>



		<!-- Product -->

		<div class="product">
			<div class="container">
				<div class="row">

					<!-- Product Image -->
					<div class="col-lg-6">
						<div class="product_image_slider_container">
							<div id="slider" class="flexslider">
								<ul class="slides">
                  <li>
                    <%if @item.avatar.attached?%>
                      <%= image_tag @item.avatar, alt: 'Kitty picture' %>
                    <%else %>
                      <%= image_tag(@item.image_url, :alt => "Kitty picture") %>
                    <%end%>
                  </li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Product Info -->
					<div class="col-lg-6 product_col">
            <dl>
              <dt>Title</dt>
              <dl><%=@item.title %></dl>
              <dt>Description</dt>
              <dl><%=@item.description %></dl>
              <dt>Price</dt>
              <dl><%=@item.price %></dl>
              <br>
              <%= link_to 'Destroy',admin_item_path(@item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </dl>
					</div>
				</div>
			</div>
		</div>

		<!-- Boxes -->

		<!-- Footer -->


	</div>

</div>
