<div class="container mt-cart">
	<table class="table table-responsive">
		<thead class="bg-dark text-light">
				<th style="width:60%">Your order</th>
				<th style="width:12%">Price</th> 
				<th style="width:28%"></th> 
		</thead>
		<tbody>
			<% @order.items.each do |item| %>
			<tr>			
				<td data-th="Your order">
					<div class="row">
						<div class="col-md-2">
							<%= image_tag(item.image_url, :alt => "search") %>
						</div>
						<div class="col-md-10">
							<h4 class="nomargin">Item n°<%= item.id%></h4>
							<p><%= item.description%></p>
						</div>
					</div>
				</td>
				<td data-th="Price"><%= item.price%>€</td>
				<td class="actions" data-th=""> 
				</td>	
		  </tr>
		  <% end %>
		</tbody>

		<tfoot class="card-footer">
			<tr>
				<td data-th="Your order">
				</td>
				<td class="hidden-xs" data-th="Price">
					<strong>Total: <%= @order.total_price %>€</strong>
				</td>
				<td class="d-flex justify-content-around" data-th="">

        </td>
			</tr>
		</tfoot>
	</table>
</div>