<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <h4 class="navbar-brand col-sm-3 col-md-2 mr-0">My profile section</h4>
</nav>

<div class="container">
   <h2><strong>Your orders still to be paid</strong></h2>
  <% if @orders.count != nil %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Order number</th>
          <th scope="col">Created date of order</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <% if order.paid == false %>
            <tr>
              <th scope="row"><%= order.id %></th>
              <td><%= order.created_at %></td>
              <td><%= link_to "Go to this order and pay", user_order_path(current_user, order), class: "btn btn-success"%></td>
            </tr>
          <%end%>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3>You have no orders still to be paid</h3>
  <% end %>
</div>

<div class="container">
  <h2><strong>Your orders already paid</strong></h2>
  <% if @orders.count != nil %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Order number</th>
          <th scope="col">Created date of order</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <% if order.paid == true %>
            <tr>
              <th scope="row"><%= order.id %></th>
              <td><%= order.created_at %></td>
              <td><%= link_to "Consult this order", user_order_path(current_user, order), class: "btn btn-primary"%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>