<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <h4 class="navbar-brand col-sm-3 col-md-2 mr-0">My profile section</h4>
</nav>

<div class="container">
  <% if @orders.count != nil %>
    <h2><strong>Your orders still to be paid</strong></h2>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Order number</th>
          <th scope="col">Created date of order</th>
          <th scope="col">Show order</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.id %></th>
          <td><%= order.created_at %></td>
          <td><%= link_to "Go to this order"</td>
          <td>@mdo</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="container">
  <% if @orders.count != nil %>
    <h2><strong>Your orders already paid</strong></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Order number</th>
          <th scope="col">Created date of order</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.id %></th>
          <td><%= order.created_at %></td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>