
<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">

      <%= form_for(resource, url: path, method: method) do |f| %>
      <h2><%=title %></h2>

<!--        IF DEVISE ERRORS-->
        <%begin%>
          <%if devise_error_messages!%>
            <%= devise_error_messages! %>
          <%end%>
        <%rescue%>
        <%end%>

        <%case action %>
        <%when 'new_session' %>
          <div class="form-group">
            <!--   <%= f.label :email %><br /> -->
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class: "form-control" %>
          </div>

          <div class="form-group">
            <!--  <%= f.label :password %><br /> -->
            <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

<!--          NEW REGISTRATION FORM-->
        <%when 'new_registration' %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%#= f.label :password %>
            <%# if @minimum_password_length %>
  <!--          <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
  <!--          <%# end %><br />-->
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm your password", class: "form-control" %>
          </div>

<!--          EDIT USER-->
          <%when 'edit_user'%>
            <div class="form-group">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, autofocus: true, placeholder: current_user.first_name, class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, autofocus: true, placeholder: current_user.last_name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :description %><br />
              <%= f.text_area :description, autofocus: true, placeholder: current_user.description, class: "form-control"  %>
            </div>

            <% if is_admin? %>
              <div class="form-group">
                <%= f.radio_button(:admin, true,autocomplete: :admin, class:"form-check-label" ) %>
                <%= f.label(:admin, "True", class:"form-check-input" )%>
                <%= f.radio_button(:admin, false,autocomplete: :admin, class:"form-check-label") %>
                <%= f.label(:admin, "False", class:"form-check-input" )%>
              </div>
            <%end %>

<!--          NEW USER-->
          <%when 'new_user' %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm your password" %>
            </div>

            <% if is_admin? %>
              <div class="form-group">
                <%= f.radio_button(:admin, true,autocomplete: :admin)  %>
                <%= f.label(:admin, "True") %>
                <%= f.radio_button(:admin, false,autocomplete: :admin) %>
                <%= f.label(:admin, "False") %>
              </div>
            <%end %>

<!--          EDIT ITEM-->
          <%when 'edit_item' %>
            <div class="form-group">
              <%= f.label :title %><br />
              <%= f.text_field :title, placeholder: @item.title %>
            </div>

            <div class="form-group">
              <%= f.label :description %><br />
              <%= f.text_area :description, placeholder: @item.description %>
            </div>

            <div class="form-group">
              <%= f.label :price %><br />
              <%= f.number_field :price,in: 0.99..999.99, step:0.01, placeholder: @item.price %>
            </div>

            <div class="form-group">
              <%= f.label :avatar, "Avatar" %><br />
              <%=f.file_field :avatar%><br>
            </div>

<!--          NEW ITEM-->
          <%when 'new_item' %>
            <div class="form-group">
              <%= f.label :title %><br />
              <%= f.text_field :title, autofocus: true, autocomplete: :title, placeholder: 'Title' %>
            </div>

            <div class="form-group">
              <%= f.label :description %><br />
              <%= f.text_area :description, autocomplete: :description, placeholder: 'Description' %>
            </div>

            <div class="form-group">
              <%= f.label :price %><br />
              <%= f.number_field :price,in: 0.99..999.99, step:0.01, autocomplete: :price, placeholder: 10 %>
            </div>

            <div class="form-group">
              <%= f.label :avatar, "Avatar" %><br />
              <%=f.file_field :avatar%><br>
            </div>
          <%else %>
            <h1>Error</h1>
        <%end %>



<!--        FOR ALL FORMS-->
        <div class="form-group">
          <%= f.submit button, class: "btn btn-primary btn-block" %>
        </div>


      <% end %>

      <%if ['edit_password',"new_password",'new_registration','new_session'].include?(action)%>
        <%= render "devise/shared/links" %>
      <%end%>
    </div>
  </div>
</div>