<div class="container mt-cart">
	<table class="table table-responsive">
		<thead class="bg-dark text-light">
				<th style="width:75%">Your cart</th>
				<th style="width:10%">Price</th> 
				<th style="width:15%"></th> 
		</thead>
		<tbody>
			<% @items.each do |item| %>
			<tr>	
						
				<td data-th="Your cart">
					<div class="row">
						<div class="col-md-2">
							<%= image_tag(item.image_url, :alt => "search") %>
						</div>
						<div class="col-md-10">
							<h4 class="nomargin">Item n°<%= item.id%></h4>
							<p><%= item.description%></p>
						</div>
					</div>
				</td>
				<td data-th="Price"><%= item.price%>€</td>
				<td class="actions" data-th="">

				  <%= link_to raw("<i class=\"fa fa-trash-o\"></i>"), item_join_table_cart_item_path(item.id, JoinTableCartItem.find_by(cart: @cart, item:Item.find(item.id)).id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
				</td>
				
		  </tr>
		  <% end %>
		</tbody>
		<tfoot class="card-footer">
			<tr>
				<td>
					<%= link_to "Continue shopping", root_path, class: "btn btn-warning" %>
				</td>
				<td class="hidden-xs">
					<strong>Total: <%= @total_price %>€</strong>
				</td>
				<td>
					<%= render 'shared/transform_to_order' %>
					<!-- <a class="btn btn-success btn-block" href="#">Checkout</a> -->
				</td>
			</tr>
		</tfoot>
	</table>
</div>