<div class="super_container">
	<div class="super_container_inner">
		<div class="super_overlay">
    </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
       <div class="carousel-item active">
         <div>
           <%= image_tag("banner_1.jpg", class: "d-block w-100", :alt => "First slide") %>
         </div>
         <div class="carousel-caption d-none d-md-block ">
           <h1 style=" color: white; text-shadow: 3px 3px 10px black; text-align: center;">Welcome to Little Kitten !</h1>
           <h3>A cute website full of cute pictures of even cuter kittens ! </h3>
         </div>
       </div>
       <div class="carousel-item">
         <div>
           <%= image_tag("banner_2.jpg", class: "d-block w-100", :alt => "Second slide") %>
         </div>
         <div class="carousel-caption text-left">
            <h1 style=" color: white; text-shadow: 3px 3px 10px black;">Sign up today !</h1>
            <h3 style=" color: white; text-shadow: 3px 3px 10px black;">Don't wait any longer ! Sign up now to be able to start filling your cart with your own selection of pictures and proceed with your order.</h3>
            <br>
         </div>
       </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

      <!-- Products -->

      <div class="products">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 offset-lg-3">
              <div class="section_title text-center">Popular on Little Kitten</div>
            </div>
          </div>

          <div class="row products_row">

            <!-- Product -->

            <% @items.each do |item| %>
            <div class="col-xl-4 col-md-6">
              <div class="product" style="width: 350px; ">

                <div class="product_image_container" style="height: 400px; overflow: hidden; display: flex; justify-content: center; align-items: center; border-top: solid 1px lightgray;; border-left: solid 1px lightgray; ; border-right: solid 1px lightgray; ">

                  <%if item.avatar_attached?%>

                   <div><%= link_to image_tag(item.avatar, alt: 'Kitty'), item_path(item) %></div>
                  <%else %>

                 <div><%= link_to image_tag(item.image_url, :alt => "Kitty"), item_path(item) %> </div>

                  <%end%>
                </div>
                    <div class="product_content" >
                  <div class="product_info d-flex flex-row align-items-start justify-content-start">
                    <div>
                      <div>
                        <div class="product_name"><a href="product.html"><%= link_to item.title, item_path(item) %></a></div>

                        <div class="product_category">In Category : Cute cat</div>
                      </div>
                    </div>
                    <div class="ml-auto text-right">
                      <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i></div>
                      <div class="product_price text-right">€ <span> <%= item.price %></span></div>
                    </div>
                  </div>

                  <div class="product_buttons">
                    <div class="text-right d-flex flex-row align-items-center justify-content-start">

                        <div>
                          <%= link_to raw('<div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center ">Details</div>'),
                                         item_path(item),
                                         class:'product_button product_fav text-center d-flex flex-column align-items-center justify-content-center',
                                         style:'height:100%' %>
                        </div>

                        <%= render partial:'button_add_to_cart', locals:{item: item} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>


          </div>
        </div>
      </div>


      <!-- Features -->

      <div class="features">
        <div class="container">
          <div class="row">

            <!-- Feature -->
            <div class="col-lg-4 feature_col">
              <div class="feature d-flex flex-row align-items-start justify-content-start">
                <div class="feature_left">
                  <div class="feature_icon"><%= image_tag("/assets/icon_1.svg", alt: "")%></div>
                </div>
                <div class="feature_right d-flex flex-column align-items-start justify-content-center">
                  <div class="feature_title">Fast Secure Payments</div>
                </div>
              </div>
            </div>

            <!-- Feature -->
            <div class="col-lg-4 feature_col">
              <div class="feature d-flex flex-row align-items-start justify-content-start">
                <div class="feature_left">
                  <div class="feature_icon ml-auto mr-auto"><%= image_tag("/assets/icon_2.svg", alt: "")%></div>
                </div>
                <div class="feature_right d-flex flex-column align-items-start justify-content-center">
                  <div class="feature_title">Premium Products</div>
                </div>
              </div>
            </div>

            <!-- Feature -->
            <div class="col-lg-4 feature_col">
              <div class="feature d-flex flex-row align-items-start justify-content-start">
                <div class="feature_left">
                  <div class="feature_icon"><%= image_tag("/assets/icon_3.svg", alt: "")%></div>
                </div>
                <div class="feature_right d-flex flex-column align-items-start justify-content-center">
                  <div class="feature_title">Free Delivery</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>