<h1>Title</h1>
<%= link_to button_new, path_new, class: 'btn btn-primary' %>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>Id</th>
        <% titles.each do |title| %>
          <th><%=title %></th>
        <%end %>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% resources.each do |resource| %>
      <tr>
        <td><%= resource.id %></td>
          <% values.each do |value| %>
            <td><%=resource.public_send(value)%></td>
          <%end %>
        <td><%= link_to 'Edit', "#{path}#{resource.id}/edit" %></td>
        <td><%= link_to 'Destroy',"#{path}#{resource.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Item', path_new, class: 'btn btn-primary' %>