
<%if is_admin? %>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap m-0 p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">AdminBoard</a>
    <ul class="navbar-nav px-3">
      <li><%= link_to "Disconnect", destroy_user_session_path , method: :delete %></li>
    </ul>
  </nav>

<%else %>

<div class="menu" style="background-image: url(assets/ham_menu.jpg); background-size: cover;">


  <!-- Navigation -->
  <div class="menu_nav">
    <ul>
      <li><%= link_to "All Products", items_path, class: "text-white" %></li>
      <br>
      <li> <%= link_to "About", about_path,  class: "text-white" %></li>
      <li><%= link_to "Contact Us", contact_path,  class: "text-white" %></li>
      <li><%= link_to "Terms & Conditions", use_terms_path, class: "text-white" %></li>
      <br>
      <li><%= link_to "Log-In", new_user_session_path,  class: "text-white " %></li>
      <!-- <%= link_to "Sign-Up", new_user_registration_path %> --> </li>
    </ul>
  </div>
  <!-- Contact Info -->
  <div class="menu_contact">
      <div class="text-white">Team#Strasbourg,  +33 141 592 653 589</div>
    </div>
<!--    <div class="menu_social">
      <ul class="menu_social_list d-flex flex-row align-items-start justify-content-start">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div> -->
  </div>
</div>

<header class="header">
  <div class="header_overlay"></div>
  <div class="header_content d-flex flex-row align-items-center justify-content-start">

        <div class="d-flex flex-row align-items-center justify-content-start">
          <div><%= link_to items_path do %>
            <%= image_tag("gitmiaou.png", :alt => "Accueil")%>
          <% end %>
          </div>
          <div>
            <%= link_to "Little Kitten", items_path, :style => "color: #4a4a4a;font-weight:700;font-size:35px;padding-left:10px;" %>
          </div>
        </div>
    <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
       <nav class="main_nav">
       <ul class="d-flex flex-row align-items-start justify-content-start">
        <li class="active"><%= link_to "All Products", items_path %></li>
        <li><%= link_to "About", about_path %></li>
<!--        <li><%= link_to "Sign in", new_user_session_path %></li> -->
<!--        <li><%= link_to "Sign up", new_user_registration_path %></li> -->
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Terms & Conditions", use_terms_path %></li>
        </ul>
        </nav>
    <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
      <!-- Search -->
      <!--  <div class="header_search">  -->
       <!--   <form action="#" id="header_search_form">  -->
       <!--     <input type="text" class="search_input" placeholder="Search Item" required="required">  -->
        <!--    <button class="header_search_button"><%= image_tag("search.png", :alt => "search") %></button>  -->
       <!--   </form>  -->
       <!-- </div>  -->

      <!-- User -->

      <%if user_signed_in? %>

      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:20px">
        <div class="user"><a href=""><div><%= image_tag("user.svg", alt: "https://www.flaticon.com/authors/freepik") %></div></a></div>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item"> <%= link_to "Profile", user_path(current_user) %> </div>
        <div class="dropdown-item"> <%= link_to "Log out", destroy_user_session_path, method: :delete %> </div>
        </div>
        </div>
        <div class="cart"><a href="<%= user_cart_path(current_user, current_user.cart.id)%>"><div><%= image_tag("cart.svg", :alt => "https://www.flaticon.com/authors/freepik") %><div class="cart-number-items"><%= current_user.cart.items.length %></div></div></a></div>


      <%else%>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:20px">
        <div class="user"><a href=""><div><%= image_tag("user.svg", alt: "https://www.flaticon.com/authors/freepik") %></div></a></div>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item"> <%= link_to "Log in", new_user_session_path %> </div>
        <div class="dropdown-item"> <%= link_to "Sign up", new_user_registration_path %> </div>
        </div>
        </div>

      <%end %>

      <!-- Cart -->
      <!-- Phone -->
      <div class="header_phone d-flex flex-row align-items-center justify-content-start">
        <div><a href="#"><div><%= image_tag("phone.svg", :alt => "https://www.flaticon.com/authors/freepik") %></a></div></div>
        <div>+33 141 592 653 589</div>
      </div>
    </div>
</header>
<%end %>