<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ChatonsStras</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <header>

     <%= render 'layouts/navbar' unless @disable_nav %>

  </header>

   <%= render 'layouts/flash'%>



  <%if is_admin? %>
    <body class="justify-content-start">
      <%= render 'layouts/admin_nav' %>
    </body>
  <%else %>
    <body style="padding-top: 80px;">
      <%= yield %>
        <%= render 'layouts/footer' unless @disable_footer %>
    </body>
<%end %>
</html>
